.label {
  font-weight: 500;
}

.lineError {
  color: var(--mantine-color-red-6);
  font-size: 0.75rem;
}

.inputFlex {
  flex: 1;
}

.inputLocked input:disabled {
  color: var(--mantine-color-gray-1);
  opacity: 1;
}

.separator {
  align-self: center;
}

.wrapper {
  background: var(--mantine-color-dark-7);
  border: 1px solid var(--mantine-color-dark-4);
  border-radius: 16px;
  padding: 1.5rem;
}
